body {
    background:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#8C8070;
    border-radius: 5px;
}

.assignment img {
    width:300px;
    margin:10px;
    border: 2px solid #261610;
}

.assignment img:hover{
    border: 2px solid white;
}

h1 {
    color: #556273;
    text-align:center;
}

a{
    text-decoration: none;
    color:#261610;
}

a:hover
{
    color:white;
}